{% extends "journal/navbar.html" %}


{% block content %}
    <head>
        <title>Edenthought |Delete account</title>
    </head>
<br>

<div class="container bg-white shadow-md p-5 form-layout">
    <h1> Delete your account </h1>

    <p>Are you sure that you want to delete your account?</p>
    <br>

            <form method='POST' autocomplete="off">
            {% csrf_token %}

            <button class="btn btn-outline-danger btn-md w-100 btn-block p-2" type="submit"> Yes, delete account </button>

        </form>
        <br>

        <a href="{% url 'profile-management' %}">Return to profile management</a>
</div>    

<br>


{% endblock %}


