{% extends "journal/navbar.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>

<div class="container bg-white shadow-md p-5 form-layout">
    <h1> Update username and email </h1>
    <br>
    <br>
    <br>

            <form method='POST' autocomplete="off">
            {% csrf_token %}

            {{ProfileForm|crispy}}

            <br> <br>
            <button class="btn btn-secondary btn-md w-100 btn-block p-2" type="submit"> Update </button>

        </form>
</div>    

<br>

{% endblock %}


